# Variables in R

This notebook is a quick reference + practice space for **variables** in R: assigning values, inspecting them, and working with common container types.

## What you'll practice
- Assigning variables (`<-`, `=`) and choosing good names
- Understanding common data types in R
- Working with vectors, lists, and data frames / tibbles
- Accessing values with `[ ]`, `[[ ]]`, and `$`

## 1. Assigning variables

In R, you most often assign with `<-`.

- `x <- 3` assigns 3 to `x`
- `=` also works in most cases, but `<-` is standard in most R (makes it unambiguous from other languages like Python)

In [1]:
# Basic assignment
x <- 3
x

[1] 3

In [2]:
y = 4 #more common for Python
y

[1] 4

In [3]:
5 -> z
z

[1] 5

In [4]:
zee <- z
zee

[1] 5

### Printing

Printing variables sends them to the 'console'. This is clearer when running a script in R studio. 

In Jupyter notebooks you can print by just typing the variable name.

In [8]:
print(z)
z

[1] 5

[1] 5

### Naming variables

Names of variables should indicate what their trying to store. Keeping variable names concise reduces typos.

- **Variable names**:
  - Can contain: letters, numbers, `_`, `.`  
  - Cannot start with a number or `_`  
  - Case-sensitive

General conventions:
- `camelCase`, `snake_case`, and other conventions to delimit words
- Avoid using built-in names like `c`, `T`, `F`, `mean`, `data`, etc.

In [10]:
# Examples of good names
student_count <- 28
courseName <- "DATS 1001"

student_count

[1] 28

In [13]:
# Possible names, but avoid it:
`student count` <- 29
`student count`

.hidden_name <- 1
.hidden_name

[1] 29

[1] 3

[1] 1

In [14]:
# BAD IDEA: 
vec <- c(1,2,3)
mean(vec)

[1] 2

In [17]:
mean <- "two" #bad to overwrite a function name in programming
              # even if R allows you to do it

In [18]:
mean

[1] "two"

In [19]:
mean(vec)

[1] 2

In some programming languages (like C++) this wouldn't be allowed. This is a consequence of R being a _dynamically typed language_. 

A variable can start out as a number (or function) and end up something else by the end of the code.

For example in the code chunk below, `a` starts out as text and then later it's assigned a number. This can happen with functions, too. It might happen as you're learning the language and variables R already provides.

In [20]:
a <- "Hello, world"
print(a)
a <- 1
print(a)

[1] "Hello, world"
[1] 1

## 2. Inspecting what's inside a variable

Let's take a deeper look as what a variable is

Useful helpers:
- `class(x)` : high-level class
- `typeof(x)` : underlying storage type
- `length(x)` : number of elements
- `str(x)` : compact structure display

In [23]:
x <- 1
class(x)
typeof(x) # double, which is a number with a decimal 
length(x)
str(x)

[1] "numeric"

[1] "double"

[1] 1

 num 1

In [24]:
x <- "Hello, world"
class(x)
typeof(x) 
length(x)
str(x)

[1] "character"

[1] "character"

[1] 1

 chr "Hello, world"

In [25]:
x <- c(1,2,3)
class(x)
typeof(x) # double, which is a number with a decimal 
length(x)
str(x)

[1] "numeric"

[1] "double"

[1] 3

 num [1:3] 1 2 3

## 3. Atomic types and vectors

The most common *atomic* types:
- logical: `TRUE`, `FALSE`
- integer: `1L`
- double (numeric): `1`, `3.14`
- character: `"text"`, `'text'`

A **vector** is one-dimensional and must be *all one type* (R will coerce if needed).

In [26]:
# Atomic values
b <- TRUE #FALSE # boolean/logic 
i <- 1L # integer which is a whole number 
n <- 3.14 
ch <- "R"

class(b); typeof(b)
class(i); typeof(i)
class(n); typeof(n)
class(ch); typeof(ch)

[1] "logical"

[1] "logical"

[1] "integer"

[1] "integer"

[1] "numeric"

[1] "double"

[1] "character"

[1] "character"

In [28]:
# Vectors with c()
v_num <- c(1,2,n)
v_num
typeof(v_num)

[1] 1.00 2.00 3.14

[1] "double"

In [30]:
v_ch <- c("a","b",ch)
v_ch
typeof(v_ch)

[1] "a" "b" "R"

[1] "character"

In [32]:
v_mix <- c(i,n,ch)
v_mix
typeof(v_mix)
# A vector has to have the same types
# A coercion (conversion) occurs to change them all the characters (in this case)

[1] "1"    "3.14" "R"

[1] "character"

### Converting between types

Common conversion helpers:
- `as.integer()`, `as.double()` / `as.numeric()`, `as.character()`, `as.logical()`

In [33]:
as.integer(3.9)        # drops the decimal
as.numeric("3.14")      # character -> numeric
as.character(100)       # numeric -> character
as.logical(0)           # numeric -> logical (0 becomes FALSE)

[1] 3

[1] 3.14

[1] "100"

[1] FALSE

## 4. Missing / special values

- `NA` : missing value
- `NaN` : not-a-number (result of undefined numeric operation)
- `Inf`, `-Inf` : infinity
- `NULL` : "nothing here" (often means absence of an object/value)

Use `is.na()` for `NA` and `is.null()` for `NULL`.

In [ ]:
x <- c(10, NA, 30)
x
is.na(x)

0/0        # NaN
1/0        # Inf

is.nan(0/0)

# NULL is different from NA
nothing <- NULL
is.null(nothing)

## 5. Common container types

- Vectors
     - One type only.
- Lists
    - Can hold *different* types (and even other lists).
- Data frames / tibbles
    - Tabular data (columns can have different types).
    - Can be filled with vectors of the same length.

In [ ]:
# Vector
v <- c(38.89987, -77.04616)
v

In [ ]:
# Named vector (names are great for readability)
coords <- c(lat = 38.89987, lng = -77.04616)
coords

In [ ]:
# List (can mix types)
L <- list(
  lat = 38.89987,
  lng = -77.04616,
  label = "MPA Building",
  coords = coords
)
L

In [ ]:
# Data frame
df <- data.frame(
  lat = 38.89987,
  lng = -77.04616,
  label = "MPA Building"
)
df

In [ ]:
# We will use the tidyverse data frame 
# Outside of Jupyter Hub you might need to install the package first.
# install.packages("tibble")
library(tibble)
tab <- tibble(
  lat   = c(38.89859285082495,38.8998733051704),
  lng   = c(-77.0461995467069,-77.0461654305575),
  label = c("Bell Hall", "MPA's Building")
)

## 6. Accessing values: `[ ]`, `[[ ]]`, and `$`

- For vectors:
  - `v[1]` gives the first element (R is 1-indexed)
- For lists:
  - `L[["lat"]]` extracts the *value*
  - `L["lat"]` keeps a list
  - `L$lat` is shorthand for named elements
- For data frames:
  - `df[1, 2]` row/column indexing
  - `df$lat` extracts a column

In [34]:
# Vector indexing
v <- c(10, 20, 30)
v[1]   # first index (counting starts at 1)
v[-1]  # everything but the first one
v[2:3] # same as above but by 'slicing'

[1] 10

[1] 20 30

[1] 20 30

In [ ]:
# Named vector indexing
coords <- c(lat = 38.89987, lng = -77.04616)
coords["lat"]
coords[c("lng", "lat")]

In [39]:
# List indexing
L <- list(lat = 38.89987, lng = -77.04616, label = "MPA Building")

L[1]
L['lat']

L[['lat']]
L$lat

$lat
[1] 38.89987

$lat
[1] 38.89987

[1] 38.89987

[1] 38.89987

In [40]:
library(tibble)
tab <- tibble(
  lat   = c(38.89859285082495,38.8998733051704),
  lng   = c(-77.0461995467069,-77.0461654305575),
  label = c("Bell Hall", "MPA's Building")
)

In [41]:
# Table / data frame indexing is alot like list indexing
tab$lat

[1] 38.89859 38.89987

In [42]:
tab$lat[1]

[1] 38.89859

# Operators: arithmetic, comparisons, and logic

In R, you’ll constantly build logical **expressions** using operators. These are the building blocks for both computation *and* later topics like control flow.

## Arithmetic operators

Arithmetic operators combine numeric values to form expressions.

- `+`, `-`, `*`, `/`, `^` — standard addition, subtraction, multiplication, division, exponentiation  
- `%%` — modulo (the remainder after division)  
- `%/%` — integer division (division rounded down to an integer)

In [43]:
1 + 1

[1] 2

In [44]:
2 * 5

[1] 10

In [45]:
2 + 3 * 4

[1] 14

Precedence matters. When in doubt, use parentheses.

In [46]:
(2 + 3) * 4

[1] 20

In [47]:
2^3

[1] 8

In [48]:
10 %% 3 # modulus, give the remainder after division

[1] 1

In [50]:
10 %/% 3  #integer division, number of times 3 goes into 10

[1] 3

In [59]:
vec <- c(1,2,3)

In [60]:
2*vec # elementwise scalar mutliplication

[1] 2 4 6

In [61]:
vec2 <- c(2,4,6)

In [62]:
vec * vec2 # elementwise vector multiplciuation

[1]  2  8 18

> Aside: In none of these code chunks do I assign things to a variable. Did I store anything in memory?

## Comparisons (return `TRUE` / `FALSE`)

Comparison operators compare two values and return a logical result (`TRUE` or `FALSE`).

- `==` equal to  
- `!=` not equal to  
- `<` less than, `<=` less than or equal to  
- `>` greater than, `>=` greater than or equal to

In [51]:
val <- 3

In [52]:
val < 5 # boolean / logic expression
        # asks a question with a Yes / No (TRUE or FALSE) answer

[1] TRUE

In [53]:
val == 5

[1] FALSE

In [54]:
val != 3

[1] FALSE

## Logical operators

Logical operators combine or modify logical values (`TRUE` / `FALSE`).

- `&` and `|` are **vectorized** (element-wise), so they operate on every element of a logical vector  
- `&&` and `||` are **short-circuit** operators, so they only evaluate the first element (best inside `if (...)`; we’ll revisit this in `Control_Flow.ipynb`)  
- `!` negates a logical value (`!TRUE` is `FALSE`)

In [55]:
TRUE & TRUE

[1] TRUE

In [56]:
TRUE | TRUE

[1] TRUE

In [58]:
TRUE & FALSE

[1] FALSE

In [ ]:
# elementwise logical comparisons

In [63]:
c(TRUE, FALSE, TRUE) | c(TRUE, TRUE, FALSE)

[1] TRUE TRUE TRUE

In [64]:
c(TRUE, FALSE, TRUE) & c(TRUE, TRUE, FALSE)

[1]  TRUE FALSE FALSE

# Control Flow

Control flow provide instructions for how your code makes decisions and repeats work.

**You'll use this for:**
- branching: doing different things depending on conditions
- looping: repeating steps
- handling special (edge) cases cleanly

## `if`, `else if`, `else`

Use `if` when you want to branch on a **single** boolean expression (`TRUE`/`FALSE`).

```r
if (boolean expression) {
  ...
} else if (boolean expression) {
  ...
} else {
  ...
}
```

The boolean expression is usually based on a variable that can change in your code. It asks a question that can be answered with a `TRUE` or `FALSE`.

### `if` expects a single TRUE/FALSE

If your condition comes from a vector, use `any(...)` / `all(...)`.

## Vectorized conditional: `ifelse()` (and friends)

If you want to create a new vector based on a condition, `ifelse()` is often the simplest tool.

- `ifelse(test, yes, no)` returns a vector the same length as `test`.
- In tidyverse pipelines, prefer `dplyr::if_else()` (stricter about types).

## `for` loops

`for` loops iterate over a sequence.

Two common patterns:
1) build up a result (**preallocate** if possible)
2) do a side effect (printing, plotting, saving)

In [ ]:
squares <- c(1,2,3)

for (i in 1:length(squares)) {
  squares[i] <- i^2
}

squares

Same code but **vectorized**

In [ ]:
squares <- c(1,2,3)
squares^2

Vectorization is going to be the preferred method when possible. It's easier to read and often will perform the operation quicker. In some cases it will be necessary to make a `for` loop and go elementwise. Use indices when the position matters, or when each step depends on previous steps.

In [ ]:
n <- 10
fib <- c(1:n) #make a container for a placeholder (a.k.a. preallocate)

fib[1] <- 1
fib[2] <- 1

for (i in 3:n) {
  fib[i] <- fib[i - 1] + fib[i - 2]
}

fib

## `while` loops

Use these when you don’t know ahead of time how many iterations you’ll need.

- `while (condition) { ... }` keeps going *while* the condition is TRUE.

In [ ]:
# while example

## Mini practice

1) Create a vector `x <- c(-3, -1, 0, 2, 5)`.  
   Use `ifelse()` to label each value `"neg"`, `"zero"`, or `"pos"` (hint: nested `ifelse`).

2) Write a `for` loop that computes the cumulative sum of `1:n` without using `cumsum()`.

3) Write a `while` loop that keeps doubling a number starting at `1` until it exceeds `100`.